*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
}
.img1{
    height: 30px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
}
.camp{
    color: red;
}

main{
    height: 90vh;
    width: 98vw;
    display: flex;

}
.nav1{
    margin-left: 100px;
}
.image{
    height: 250px;

}
.div2{
    height: 300px;
    align-items: center;
    padding-top: 150px;

}
.img2{
    margin-top: 80px;
    margin-left: 100px;
}
.btn1{
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(240, 32, 32);
    border-radius: 20px;
    border: 1px black solid;
}
p{
    margin-top: 6px;
}
.sec{
    text-align: center;
    margin-bottom: 10px;
}
.hero{
    height: 50vh;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.one{
     height: 150px;
    width: 120px;
    /* background-color: rgb(240, 238, 238); */
    border-radius: 20px;
    transition: 0.3 ease;
    margin-top: 10px;
     box-shadow: 0 9px 20px rgb(165, 160, 160);

}
.one:hover{
    transform: translateY(-6px);
    transition: 0.2s;

    /* box-shadow: 0 12px 28px rgb(69, 65, 65); */

}
.hero-section{
    text-align: center;
    max-width: 900px;
    margin: auto;
}
.one h3{
    margin-left: 8px;
}
.one h6{
    margin-left: 8px;
}
.home{
    margin-left: 20px;
}
.log{
    height: 200px;
    
}
.box{
    height: 60vh;
    display: flex;
    justify-content: center;
}
.box1{
    padding-top: 20px;
    height: 200px;
    width: 50vw;
    margin-left: 20px;
    margin-top: 10px;

}
.box2{
    height: 200px;
    padding-top: 20px;
}
.bbtn{
    background-color: rgb(240, 32, 32) ;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    padding: 5px;
      border: 1px black solid;
}
.gift{
    height:50vh;
    width: 95vw;
}
.end{
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
}
.large{
    height: 40vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 48, 48);
    border-radius: 20px;
    margin-top: 40px;
}
.last{
    height: 100px;
    margin-top: 50px;
    margin-left: 30px;

}
.last input{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 10px;
}
.last button{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1 black solid;
    padding: 3px;
}
.last h2{
    color: white;
}
footer{
    height: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    border: 1px black solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.point{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.queen{
    height: 50vh;
    width: 98vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.dulu{
    height: 90px;
}
.solo{
    background-color: white;
    height: 160px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 12px 28px rgb(165, 160, 160);
}
.imu{
    background-color: rgb(200, 8, 8);
    height: 100px;
    width: 120px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.solo h3{
    margin-top: 10px;
}
.bro{
    margin-top: 20px;
    text-align: center;
}
.solo:hover{
      transform: translateY(-6px);
    transition: 0.3s;
}
.btn5{
    margin-top: 10px;
}
.foot img{
    height: 30px;
}

